<form action="/cart" method="post">
  <input type="hidden" value="<%= csrfToken %>" name="_csrf">
  <button type="submit" class="btn">Add to cart</button>
  <input type="hidden" name="productId" value="<%= prods._id %>">
</form>