<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="xwx86Tl2pw2aH55KrT66m6XD3diw7i9xBVcLyCOYEvM" />
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
