<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main class="main">
      <h1>Orders is working!</h1>
    </main>
    <%- include('../includes/end.ejs') %>